body {
        font-family: Arial, sans-serif;
        background: #f3f4f6;
        margin: 0;
        padding: 0;
        background-color: #f5eaea;
      }

      .container {
        max-width: 700px;
        margin: 40px auto;
        background: #fff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #202124;
      }

      p.desc {
        color: #5f6368;
        font-size: 14px;
        margin-bottom: 30px;
      }

      label {
        display: block;
        margin-top: 20px;
        font-weight: bold;
      }

      input[type="text"],
      input[type="umur"],
      input[type="number"],
      select {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
      }

      .options {
        margin-top: 10px;
      }

      .options label {
        font-weight: normal;
        display: block;
      }

      .btn-submit {
        margin-top: 30px;
        background-color: #1a73e8;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
      }

      .btn-next {
        margin-top: 30px;
        background-color: white;
        color: #1a73e8;
        padding: 12px 24px;
        border: 1px solid #1a73e8;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
      }

      .btn-submit:hover {
        background-color: #1765cc;
      }

      .success-message {
        display: none;
        margin-top: 20px;
        background: #d7f0d7;
        padding: 10px;
        border-radius: 6px;
        color: #2e7d32;
      }
      /* 
      .lainnya-text {
        margin-left: 10px;
        padding: 5px;
        width: 300px;
      } */

      .required {
        color: red;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }